:root {
  --color-darkgray-hue: 0;
  --color-darkgray-sat: 0%;
  --color-darkgray-lit: 20%;
  --color-darkgray: hsl(
    var(--color-darkgray-hue),
    var(--color-darkgray-sat),
    var(--color-darkgray-lit)
  );
  --color-lightgray: #888;
  --color-lightgray2-hue: 0;
  --color-lightgray2-sat: 0%;
  --color-lightgray2-lit: 80%;
  --color-lightgray2: hsl(0, 0%, 80%);
  --color-white: #fff;
  --color-black: #000;
  --fontFamily: Montserrat, sans-serif;
  --borderRadius: 4px;
  --transitionTime: 250ms;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--fontFamily);
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

body {
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

header {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding-bottom: 0.8em;
  box-shadow: rgba(0, 0, 0, 0.25) 0 3px 11px 0;
  position: fixed;
  z-index: 1;
  background-color: white;
}

.container {
  display: flex;
  justify-content: center;
  height: 200px;
  transition: 250s;
}

.middle-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.left-container {
  flex: 1;
}

.container-message {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

@media (min-width: 1500px) {
  .container-message {
    justify-content: flex-start;
    margin-left: 5em;
  }
}

.container-message span {
  margin-top: 30px;
  font-weight: 700;
  letter-spacing: 0.5px;
  width: 250px;
  text-align: center;
  text-transform: capitalize;
}

.nav ul {
  display: flex;
  margin-top: 0.5rem;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  text-transform: capitalize;
}

.nav a {
  text-decoration: none;
  color: var(--color-darkgray);
  font-weight: 500;
}

.nav ul i {
  margin-left: 5px;
  font-size: 0.7em;
}

.nav ul li {
  /* margin: 0 20px; */
  padding: 0 20px;
}

.nav-middle {
  border-right: 2px solid black;
}

.products {
  position: relative;
  padding: 0.1em 0;
}

.hidden {
  display: none;
}

.products-share {
  --color-lightgray2-lit: 85%;
  position: absolute;
  color: var(--color-darkgray);
  background-image: linear-gradient(
    to right,
    var(--color-white),
    hsl(
      var(--color-lightgray2-hue),
      var(--color-lightgray2-sat),
      var(--color-lightgray2-lit)
    )
  );
  bottom: -2.5rem;
  top: 1.2rem;
  right: 0.75rem;
  left: 0.75rem;
  align-items: center;
  display: none;
  justify-content: center;
  border-radius: var(--borderRadius);
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0.25) 0 3px 11px 0;
}

.display {
  min-height: 90vh;
  background-size: auto;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  animation: 0s ease 0s 1 normal none running none;
  background-image: url("https://le-cdn.hibuwebsites.com/7ad96194b5aa48289e3e0028a79726c9/dms3rep/multi/opt/Screen+Shot+2021-09-01+at+3.17.03+PM-1920w.png");
  opacity: 1;
  transition: opacity 0.75s ease-in-out 0s;
}

/* Display Section */
.text-information {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 2rem 3rem;
}

.text-information h1 {
  width: 60%;
  margin-bottom: 5rem;
  font-weight: 700;
  color: var(--color-darkgray);
}

.text-information p {
  width: 60%;
  font-weight: 400;
  line-height: 150%;
}

.text-information .cta {
  color: var(--color-darkgray);
}

.new-arrivals-gallery .title {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6em;
  margin-bottom: 1rem;
}

.gallery-1,
.gallery-2,
.gallery-3,
.gallery-4,
.gallery-5 {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: 1rem; */
  height: 400px;
}

.gallery-left-1,
.gallery-right-2,
.gallery-left-3,
.gallery-right-4,
.gallery-left-5 {
  flex: 0.8;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 3rem;
  height: 100%;
  background-color: var(--color-lightgray2);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-image: url("https://le-cdn.hibuwebsites.com/7ad96194b5aa48289e3e0028a79726c9/dms3rep/multi/opt/bg-1920w.png");
}

.gallery-right-1,
.gallery-left-2,
.gallery-right-3,
.gallery-left-4,
.gallery-right-5 {
  flex: 1.5;
  height: 100%;
  background-size: cover;
  background-position: 25% 20%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-image: url("https://le-cdn.hibuwebsites.com/7ad96194b5aa48289e3e0028a79726c9/dms3rep/multi/opt/SAHARA-dbf75f92-1920w.JPG");
}

.gallery-left-2 {
  background-image: url("https://le-cdn.hibuwebsites.com/7ad96194b5aa48289e3e0028a79726c9/dms3rep/multi/opt/gleeze_1111-1920w.JPG");
  background-position: 50% 50%;
}

.gallery-right-3 {
  background-image: url("https://le-cdn.hibuwebsites.com/7ad96194b5aa48289e3e0028a79726c9/dms3rep/multi/opt/CARRARA_24_ROOM%2BSCENE%2B-1920w.jpg");
  background-position: 50% 50%;
}

.gallery-left-4 {
  background-image: url("https://le-cdn.hibuwebsites.com/7ad96194b5aa48289e3e0028a79726c9/dms3rep/multi/opt/amb_metax_120_02-3ea0dfc6-1920w.JPG");
  background-position: 50% 50%;
}

.gallery-right-5 {
  background-image: url("https://le-cdn.hibuwebsites.com/7ad96194b5aa48289e3e0028a79726c9/dms3rep/multi/opt/iu_brooklyn_cemento-toupe-floor-24x24_cemento-argent-wall-24x48_living-room-1920w.jpg");
  background-position: 50% 100%;
}

.gallery-left-1 p,
.gallery-right-2 p,
.gallery-left-3 p,
.gallery-right-4 p,
.gallery-left-5 p {
  margin: 0.8em 0;
}

.gallery-left-1 .cta,
.gallery-right-2 .cta,
.gallery-left-3 .cta,
.gallery-right-4 .cta,
.gallery-left-5 .cta {
  padding: 1em 7em;
  background-color: hsl(
    var(--color-darkgray-hue),
    var(--color-darkgray-sat),
    var(--color-darkgray-lit)
  );
  color: var(--color-white);
  font-weight: 700;
  transition: var(--transitionTime) ease;
  cursor: pointer;
  border-radius: var(--borderRadius);
}

.gallery-left-1 .cta:hover,
.gallery-right-2 .cta:hover,
.gallery-left-3 .cta:hover,
.gallery-right-4 .cta:hover,
.gallery-left-5 .cta:hover {
  --color-darkgray-lit: 30%;
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100px;
  background-repeat: no-repeat;
  background-image: url("https://le-cdn.hibuwebsites.com/7ad96194b5aa48289e3e0028a79726c9/dms3rep/multi/opt/footer-1920w.png");
  background-size: cover;
}

.social-links i {
  margin: 1rem;
  font-size: 1.8em;
  font-weight: 400;
  color: var(--color-white);
  cursor: pointer;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1em 0;
  font-size: 0.6em;
  font-weight: 500;
}

footer ol {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

footer ol > li + li {
  margin: 1em 0;
  margin-left: 0.5em;
  padding-left: 0.5em;
  border-left: 1px solid #bbb;
}

.about-container,
.contact-us-container {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 300px;
  padding-bottom: 50px;
}

.about-container-left,
.contact-us-container-left {
  padding: 2rem;
  height: auto;
  min-height: 50vh;
  flex: 1;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
}

.about-container-right,
.contact-us-container-right {
  height: auto;
  min-height: 50vh;
  border-left: 1px solid black;
  flex: 1;
}

.about-container-left-wrapper,
.contact-us-container-left-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 50%;
}

.about-container-left-wrapper h1,
.contact-us-container-right-wrapper h1 {
  color: var(--color-darkgray);
  margin: 0.5rem 0;
  text-transform: capitalize;
}

.about-container-left-logos {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.business-hours {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 1rem;
}

.about-container-right,
.contact-us-container-right {
  padding-left: 1rem;
}

.associations {
  padding-left: 2rem;
  list-style-type: disc;
}

/* .contact-us-container-left-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
} */

.client-info {
  display: flex;
}

.client-name,
.client-email,
.client-tel {
  background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABHklEQVQ4EaVTO26DQBD1ohQWaS2lg9JybZ+AK7hNwx2oIoVf4UPQ0Lj1FdKktevIpel8AKNUkDcWMxpgSaIEaTVv3sx7uztiTdu2s/98DywOw3Dued4Who/M2aIx5lZV1aEsy0+qiwHELyi+Ytl0PQ69SxAxkWIA4RMRTdNsKE59juMcuZd6xIAFeZ6fGCdJ8kY4y7KAuTRNGd7jyEBXsdOPE3a0QGPsniOnnYMO67LgSQN9T41F2QGrQRRFCwyzoIF2qyBuKKbcOgPXdVeY9rMWgNsjf9ccYesJhk3f5dYT1HX9gR0LLQR30TnjkUEcx2uIuS4RnI+aj6sJR0AM8AaumPaM/rRehyWhXqbFAA9kh3/8/NvHxAYGAsZ/il8IalkCLBfNVAAAAABJRU5ErkJggg==&quot;);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 16px 18px;
  background-position: 98% 50%;
  cursor: auto;
  margin: 1rem 0 1rem 0;
  width: 100%;
  height: 2.5rem;
  border-radius: var(--borderRadius);
  padding: 0.5rem;
}

.client-name,
.client-email {
  margin-right: 2rem;
}

.client-text-info {
  width: 100%;
  height: 5rem;
  margin-bottom: 1rem;
}

.contact-us-container-left-wrapper h1 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 2rem;
  text-transform: capitalize;
}

.contact-us-container-left-wrapper .btn {
  padding: 1rem 3rem;
  font-weight: 700;
  color: var(--color-white);
  background-color: var(--color-black);
}

.downloads {
  padding-top: 300px;
  height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.downloads-header {
  margin-top: 1rem;
  height: 3rem;
  background-color: var(--color-black);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.downloads-header ol {
  display: flex;
  text-transform: capitalize;
  list-style-type: none;
  color: var(--color-white);
  margin-right: 1rem;
}

.downloads-header ol li + li {
  margin-left: 3rem;
}

.main-header-downloads {
  padding-bottom: 0px;
}

.downloads-wrapper h1 {
  display: flex;
  justify-content: center;
  text-transform: capitalize;
  font-size: 1.5rem;
  font-weight: 500;
  padding-bottom: 1rem;
}

.dl-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-black);
  color: var(--color-white);
  padding: 1rem 4rem;
  font-weight: 700;
  font-size: 1.2rem;
  cursor: pointer;
}